

@import "main.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#container {
  display:flex;
  text-align:center;
}
body {
  font-family: Poppins;
  text-align: center;

}
h2{
  text-align: center;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color:#e17055;
   text-align: center;
}
</style>
