
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#container {
  display:flex;
  text-align:center;
}
header {
  text-align:center;
}
body {
  font-family: Poppins;
  text-align: center;

}
h2{
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 5px;
  margin-left: 10px;
  padding:5px;
  font-size: 2em;
  overflow: hidden;
  background-color: #e17055;
  background-size:100%;
  text-align: center;

}
nav {
 text-align:center;
 }

li {
  float: right;
  margin-left:  50px;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  top: 50%;
  left: 50%;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 50px;
  margin-left: 20px;
  text-decoration: none;
  top: 50%;
 left: 50%;

}

li a:hover {
  background-color: #fab1a0;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profile{
  margin-left: 100px;
}


.social-icons {
  display: inline;
    border: none;
    color: white;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1 {
    background-color: #f39c12;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 20px;
    padding-top: 10px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    }

a {
text-decoration: none;
}

#connect {
  margin-top: 10px;
  padding-top:5px;
  font-family: cursive;
  font-weight: bold;
  font-size:18px;
  color:#2c3e50;
}

.fa {
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  display: inline;
  vertical-align: middle;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 10px;
  text-decoration: none;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color:#e17055;
   text-align: center;
}
</style>
