@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#container {
  display:flex;
  text-align:center;
}
body {
  font-family: Poppins;
  text-align: center;

}
h2{
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 5px;
  padding:5px;
  font-size: 2em;
  overflow: hidden;
  background-color: #e17055;
  background-size:100%;
  text-align: center;

}

li {
  float: left;
  margin-left:  80px;
  margin-top: 10px;ß
  padding-left: 10px;
  padding-right: 10px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fab1a0;
}
#profile{
  margin-left: 100px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top:70px;
  margin-left:70px;
  padding:10px;
  width: 40%;
  height: 200px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.sub {
  padding: 2px 16px;
}
.button {
  display: inline;
}
.social {
  margin-top: 0px;
  font-family: cursive;
  font-weight: bold;
  color:#e17055;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 18px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color:#e17055;
   text-align: center;
}
</style>
